In [5]:
def f_1():
    print('hello')
    print('bye')
f_1()

hello
bye

In [12]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result1,result2=add_sub(5,4)
print(result1,result2)

9 1

In [23]:
def update(x):
    x=0
    print("x",x)
   
a=10
print(id(a))
update(a)
print('a',a)

2353139771984
x 0
a 10

In [44]:
def max1(x,y):
    if x>y:
        return x
        return y
    def max_2(x,y,z):
        if ((x>y)&(x>z)):
            print(x)
        else:
                pass
        if((y>x)&(y>z)):
            print(y)
        else:
                pass
        if((z<x)&(z<y)):
            print(z)

In [51]:
#formal arguments
def person(name,age):
    print(name)
    print(age)
#actual arguments
person(age=28,name="saad")

saad
28

In [52]:
def sum(a, *b):
    c=a
    for i in b:
        c=c+i
        
    print(c)
sum(5,6,36,78)

125

# Keyworded Argument

In [61]:
def person(name, **data):
    print(name)
    print(data)
person("saad",age=28,city="Karachi",mob=922354541542)

saad
{'age': 28, 'city': 'Karachi', 'mob': 922354541542}

In [62]:
def person(name,**data):
    print(name)
    for i,j in data.items():
        print(i,j)
person("navin",age=22,city="karachi",mob=9212001055)

navin
age 22
city karachi
mob 9212001055

# Global

In [72]:
a=10
def something():
    global a
    a=15
    print(a)
something()
print(a)

15
15

In [78]:
a=10
print(id(a))
def something():
    x=globals()['a']
    a=15
    print(id(x))
    globals()['a']=15
something()

2353139771984
2353139771984

# Pass List

In [86]:
def count(lst):
    even=0
    odd=0
    for i in lst:
        if i%2==0:
            even+=1
        else:
            odd+=1
    return even,odd
lst=[20,12,12,15,4,55,64]
even,odd=count(lst)
print("Even:{} and Odd:{}".format(even,odd))

Even:5 and Odd:2

# Fibonacci Sequence

In [100]:
def fib(n):
    a=0
    b=1
    if n==1:
        print(a)
    else:
        print(a)
        print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)
fib(1)

0

# Factorial Of a Number

1